<div class="row ">
  <div class="col-md-6 offset-md-3">    
    <div class="card"> 
      <div class="card-header">        
        <div class="panel-title">Login</div>
      </div>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-body">

          <div class="col-12 py-3">
            <div class="input-group has-validation">
              <span class="input-group-text">CPF*</span>
              <%= f.text_field :cpf, autofocus: true, class: "form-control",  id: "cpf",  placeholder: "CPF" %>
            </div>
          </div>

          <div class="col-12 py-3">
            <div class="input-group has-validation">
              <span class="input-group-text">Senha*</span>
              <%= f.password_field :password, class: "form-control",  id: "password",  placeholder: "Senha" %>
            </div>
          </div>

          <div class="col-12 py-3">
            <%= f.check_box :remember_me, id: "remember" %>
            <label class="form-check-label" for="save-info">Lembrar de mim</label>
          </div>

        </div>

        <div class="card-footer text-center">
          <%= f.submit "Acessar", class: "w-50 btn btn-primary mb-3" %>
          <br>
          <%= render "users/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>





